/* ===============================before banner============================================== */

.banner {
    width: 100%;
    height: 100vh;
    top: 3rem;
}

.banner {
    display: flex;
    background: url("../images/backgrounds/hire.jpg") no-repeat center;
    height: 50vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.banner .inner-banner h1 {
    font-size: 50px;
    margin-top: 2rem;
}

.banner .inner-banner a {
    color: white;
    text-decoration: none;
}

.banner .inner-banner span {
    font-weight: 50;
}


/* ===============================before banner end============================================== */


/* ===============================form start=================================================== */

.about {
    background-color: rgb(230, 224, 230);
}

.pform {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: url(../images/backgrounds/form.jpg) no-repeat center;
    background-size: cover;
}

.container {
    width: 920px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 90px 55px;
}

.main-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent
}

.wrap-input {
    width: 100%;
    position: relative;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.459);
}

.lable {
    font-family: Montserrat-SemiBold;
    font-size: 15px;
    color: rgb(21 137 221);
    line-height: 1.5;
    text-transform: uppercase;
    color: #000;
}

.input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: white;
    line-height: 1.2;
    padding-right: 15px;
    border: none;
    outline: none;
}

input.input {
    height: 40px;
}

textarea.input {
    min-height: 120px;
    padding-top: 9px;
    padding-bottom: 13px;
}

.budget-div {
    display: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1;
    /* Firefox */
}


/* [ Button]  */

.form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    width: 100%;
    height: 50px;
    background-color: rgb(21 137 221);
    border-radius: 10px;
    font-family: Montserrat-Medium;
    border: none;
    font-size: 25px;
    color: black;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 3px solid black;
    color: black;
}

.btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    font-size: 15px;
    width: 100%;
    outline: none;
    border: none;
}

.custom-select option {
    font-size: 17px;
    width: 100%;
    background: transparent;
}

.select-selected {
    background-color: DodgerBlue;
}


/* =============================bottom section================================== */

.hcard {
    width: 100%;
    padding: 3rem 5rem;
}

.hcard #h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

.hcard .block {
    display: flex;
    flex-flow: wrap;
    padding: 4rem;
}

.hcard .block .cards {
    width: calc(33% - 20px);
    height: 250px;
    background-color: rgb(250, 240, 250);
    box-shadow: 2px 2px 7px rgb(100, 96, 96);
    text-align: center;
    padding: 2rem;
    transition: all 0.3s ease;
    margin: 10px;
    border-left: 3px solid steelblue;
    border-bottom: 3px solid steelblue;
    border-bottom-left-radius: 20px;
}

.hcard .block .cards:hover {
    box-shadow: 5px 5px 10px rgb(100, 96, 96);
}

.hcard .block .cards h1 {
    color: steelblue;
    padding: 1rem 10px;
    font-family: 'Ubuntu', sans-serif;
}

.hcard .block .cards p {
    text-align: center;
    padding-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(71, 70, 69);
}


/* =============================bottom section end================================== */


/* ===============================form end=================================================== */


/* ==============================media queries============================================ */

@media (max-width: 991px) {
    .container {
        padding: 50px 50px;
    }
    .hcard .block {
        padding: 2rem;
    }
    .hcard .block .cards {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .banner .inner-banner h1 {
        font-size: 40px;
    }
    .container {
        padding: 50px 5px;
    }
    .hcard {
        padding: 3rem 1rem;
    }
    .hcard .block {
        padding: 2rem;
    }
    .hcard .block .cards {
        width: 100%;
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    .banner .inner-banner h1 {
        font-size: 35px;
    }
    .container {
        padding: 50px 5px;
    }
    .hcard {
        padding: 3rem 10px;
    }
    .hcard .block {
        padding: 2rem 0;
    }
    .hcard .block .cards {
        width: 100%;
        padding: 0;
    }
    .hcard .block .cards p {
        padding: 1rem;
    }
}
